@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"]:checked + div {
  @apply border-blue-700
}

input[type="checkbox"]:checked + div svg {
  @apply opacity-100
}

.radio-tabs .tab > input[type="radio"]:checked ~ label {
  @apply bg-blue-600 text-white;
}

.radio-tabs .tab + .radio-tabs .tab {
  @apply border-l border-gray-100;
}

.radio-tabs .tab label {
  @apply cursor-pointer rounded-md;
}

.tab {
  @apply inline-block;
}

a {
  @apply cursor-pointer
}

select {
  background-image: url("data:image/svg+xml, %3Csvg fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
  background-position: center right 0.5rem;
  background-size: .75rem .75rem;
  @apply bg-no-repeat
}

/* noto-sans-kr-regular - latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-kr-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-kr-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v13-latin-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-500 - latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/noto-sans-kr-v13-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-kr-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v13-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v13-latin-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-700 - latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-kr-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-kr-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v13-latin-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-900 - latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/noto-sans-kr-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-kr-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v13-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v13-latin-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Noto Sans KR'
}